<%- include('partials/profileheader') %>

  <body>
    <div class="navigation">
      <div class="logo">
        <input type="image" src="images/logo.jpg" width=110>
        <a href="#"></a>
      </div>
      <div class="navigation-search-container">
        <i class="fa fa-search"></i>


        <form action="/search" method="POST" class="form" id="form">

          <input id="username_field" type="text" placeholder="Please enter username" name="username" required />
          <button>Search</button>
            </form>


      </div>

      <div class="navigation-icons">
        <a class="navigation-link" href="/homePage"><i class="fa fa-home"></i></a>

        <a class="navigation-link" href="/ranking"><i class="fa fa-star"></i></a>
        <a class="navigation-link" href="/getmeeting"><i class="fa fa-envelope"></i></a>


        <a class="navigation-link" href="/uploadVideo"><i class="fa fa-video-camera"></i></a>
        <a class="navigation-link" href="/profilePage"><i class="fa fa-user"></i></a>
        <a class="navigation-link" href="/logout"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>

    <div class="profile-page">
      <div class="page-header header-filter" data-parallax="true"></div>
      <div class="main user homePageContent">
        <div class="filterActionsContainer">
          <div class="filterActions">

            <a href="/homePage?filterByLikes=5" class="filterButton"> >5 likes </a>
            <a href="/homePage?filterByLikes=10" class="filterButton"> >10 likes </a>

            <a href="/homePage?filterByLikes=5&filterByType=<%=filterByType%>" class="filterButton"> >5 likes </a>
            <a href="/homePage?filterByLikes=10&filterByType=<%=filterByType%>" class="filterButton"> >10 likes </a>

            <div style="margin-top: 10px;">
              <label for="section_info">Select Type: </label>
              <select name="sections" onchange="onSelectChange(this.value)">
                <option value=""></option>
                <option value="Shooting" <%=filterByType=='Shooting' ? "selected" : "" %> >Shooting</option>
                <option value="Passing_and_Receiving" <%=filterByType=='Passing_and_Receiving' ? "selected" : "" %>
                  >Passing and Receiving</option>
                <option value="Dribbling" <%=filterByType=='Dribbling' ? "selected" : "" %> >Dribbling</option>
                <option value="Heading" <%=filterByType=='Heading' ? "selected" : "" %> >Heading</option>
                <option value="Touch_and_Ball_Control" <%=filterByType=='Touch_and_Ball_Control' ? "selected" : "" %>
                  >Touch and Ball Control</option>
                <option value="Skills_and_Tricks" <%=filterByType=='Skills_and_Tricks' ? "selected" : "" %> >Skills and
                  Tricks</option>
                <option value="Running_Off_the_Ball" <%=filterByType=='Running_Off_the_Ball' ? "selected" : "" %> >Running
                  Off the Ball</option>
                <option value="Other" <%=filterByType=='Other' ? "selected" : "" %> >Other</option>
              </select>
            </div>

          </div>
        </div>
        <h3 class="title" id="nameField"> Name </h3>
        <h6>Striker</h6>
        <p>Football Player. 18 years old. I love football</p>
        <a href="/editprofile">Edit Profile</a>
        <% for(const item of allUrls) { %>

          <div class="row" style="display: block;margin: 0 auto; margin-bottom: 30px; margin-top: 10px; max-width: 500px;">

          <div class="row"
            style="display: block;margin: 0 auto; margin-bottom: 30px; margin-top: 10px; max-width: 500px;">

            <div class="videoContainer">
              <div>
                <h3 class="title">
                  <%= item.key %>
                </h3>
                  
                </h3>
                  <span style="font-weight:bold">Title of the video: <%= item.video_title %></span>
                <br>

                <video width="400" controls>
                  <source src="<%= item.value %>" type="video/mp4">
                  Your browser does not support HTML video.
                </video>
                <div class="videoLikeContainer">

                  <a class="navigation-link" href="/likeVideo?video_name=<%= item.video_name %>"><i class="fa"
                      style="color:#245b16">&#xf004;</i></a>
                  <span style="margin-left: 10px;">
                    <%= item.like_count %> likes
                  </span>
                </div>
                <div style="margin-bottom: 5px;">
                  <i class="fa fa-bars" aria-hidden="true" style="color: #245b16; margin-right: 10px; margin-left: 35px;"></i>
                  <span> Type: <%= item.section_info %></span>
                  <br>
                </div> 

              </div>
            </div>
          </div>
          <% } %>

      </div>
    </div>





  </body>

    </div>
  </body>

  <script>
    console.log(`<%-filterByType%>`);
    var user = JSON.parse(`<%-user%>`);
    document.getElementById("nameField").innerHTML = user.username;

    function onSelectChange(e) {
      window.location = "/homePage?filterByType=" + e + "&filterByLikes=" + `<%-filterByLikes%>`;
    }

  </script>

